<div class="container">
  <h1 class="h1">MY PAGE</h1>
  <div id="mypage" class="row ccenter">
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <th>名前</th>
        	  <th><%= link_to current_general_user.name %></th>
          </tr>
          <tr>
        	  <td>フォロー:数</td>
        	  <td>&lt;<%= current_general_user.followings.count %>&gt;</td>
        	</tr>
        	<tr>
        	  <td>フォロワー数:</td>
        	  <td>&lt;<%= current_general_user.followers.count %>&gt;</td>
          </tr>
        </tbody>
      </table>
       <%=link_to"編集" ,edit_customer_path(@current_general_user),class:"btn btn-outline-light btn-block fas fa-user-cog"%>
      </div>
    <div class="col-md-8">
      <table class="table">
     	<tbody>
	      <tr>
		      <th width="140">name</th>
			    <th>title</th>
	      </tr>
	       <% @current_general_user.greats.each do |great| %>
		    <tr>
		      <td><%= great.submission.general_user.name %></td>
		      <td><%= great.submission.title %></td>
	      </tr>
	       <% end %>
   	  </tbody>
      </table>
    </div>
</div>  
