<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2><%= @customers.name %>さんの会員詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 px-sm-0 offset-sm-1">
      <table class="table table-bordered">
        <tr>
          <th class="table-active">名前</th>
          <td><%= @customers.name %></td>
        </tr>
        <tr>
          <th class="table-active">性別</th>
          <td><%= @customers.gender %></td>
        </tr>
        <tr>
          <th class="table-active">生年月日</th>
          <td><%= @customers.birthdate %></td>
        </tr>
        <tr>
          <th class="table-active">Eメール</th>
          <td><%= @customers.email %></td>
        </tr>
        <tr>
          <th class="table-active">パスワード</th>
          <td><%= @customers.encrypted_password %></td>
        </tr>
        <tr>
          <th class="table-active">自己紹介文</th>
          <td><%= @customers.self_introduction %></td>
        </tr>
        <div class="col-6 col-sm-4 col-md-3">
            <%= link_to "編集する", edit_customer_path(current_general_user), class:"btn btn-success btn-block" %>
        </div>
        </tr>
      </table>
    </div>
  </div>