<table class="table table-striped">
  <thead>
      <th scope="col">うんこ</th>
      <th scope="col">名前</th>
      <th scope="col">タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
    　<tr>
      <th scope="row">1</th>
      <td><%= link_to submission.general_user.name, submission_path(@submission) %></td></td>
      <td>Otto</td>
      <td>@いいね</td>
    </tr>
        
       <% if submission.greats.present? %>
          <td>
            <%= link_to great_create_path, method: :delete do %>
              ♥<%= submission.greats.count %> 
            <% end %>
          </td>
          <% else %>
          <td>
            <%= link_to great_create_path, method: :post do %>
              ♡<%= submission.greats.count %> 
            <% end %>
        <% end %>
        <% end %>
            
    </table>
</div>
