<div class="container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">投稿一覧</th>
      <th scope="col">名前</th>
      <th scope="col">タイトル</th>
      <th scope="col">募集国</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
    
    　<tr>
        <th scope="row"><%= submission.id %></th>
        <td><%= link_to submission.general_user.name, submission_path(submission.id) %></td>
        <td><%= submission.title %></td>
        <% if submission.greats.find_by(general_user_id: current_general_user.id).present? %>
        <td>
          <%= link_to great_path(submission.id), method: :delete, remote: true do %>
            ★<%= submission.greats.count %> 
          <% end %>
        </td>
      <% else %>
        <td>
          <%= link_to great_index_path(id: submission.id), method: :post, remote: true do %>
            ☆<%= submission.greats.count %> 
          <% end %>
        </td>
      <% end %>
        <td id=<%= "btn_link_" + submission.general_user.id.to_s %> >
          <%= render 'info', user: submission.general_user %>
        </td>
      </tr>
    <% end %>
  </tbody>   
  </table>

  
<%= paginate @submissions %>
</div>