<div class="col-md-8 offset-md-1">
    <h2>投稿一覧</h2>
    <table class="table">
        <tr>
            <td></td>
            <td>名前</tr>
            <td>タイトル</td>
        </tr>
        <% @submissions.each do |submission| %>
        <tr>
            <td>
                <%= link_to submission.general_user.name, submission_path(@submission) %>
            </td>
            <td>
                <%= link_to submission.title, submission_path(@submission) %>
            </td>
        </tr>

        <% if submission#.great.present? %>
          <td>
            <%= link_to great_create_path, method: :delete do %>
              ♥<%= submission.greats.count %> 
            <% end %>
          </td>
          <% else %>
          <td>
            <%= link_to great_create_path, method: :post do %>
              ♡<%= submission.greats.count %> 
            <% end %>
        <% end %>
        <% end %>
            
    </table>
</div>
