<div class="container">
  <h1>新規投稿</h1>
  <%= form_with model: @submission, url:'/submissions', local:true do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    
    <h4>性別</h4>
    <%= f.text_field :gender %>
    
    <h4>投稿本文</h4>
    <%= f.text_area :text, autofocus: true,class: 'form-control' %>
    
    <h4>画像</h4>
  　<%= f.attachment_field :image %>
    
    <h4>募集国</h4>
    <%= f.text_field :submissions_target %>
    <%= f.submit '投稿する' %>
  <% end %>
</div>

