<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <%= render 'layouts/header' %>
          <% if general_user_signed_in? %>
          <li><%= link_to "ホーム",root_path, class:"fas fa-home"%></li>
          <li><%= link_to "投稿フォーム",new_submission_path , class:"fas fa-users"%></li>
          <li><%= link_to "投稿一覧",submissions_path, class:"fas fa-book-open"%></li>
          <li><%= link_to "マイページ",customer_path(current_general_user), class:"fas fa-users"%></li>
          <li><%= link_to "logout",destroy_general_user_session_path, class:"fas fa-sign-out-alt",method: :delete%></li>
          <li><%= link_to "お問合せ",new_contact_path, class:"fas fa-users"%></li>

          <% else %>
          <li><%= link_to "ホーム",root_path, class:"fas fa-home"%></li>
          <li><%= link_to "about",homes_about_path, class:"fas fa-link nav-link text-light"%></li>
          <li><%= link_to "sign up", new_general_user_registration_path, class:"fas fa-user-plus"%></li>
          <li><%= link_to "login",general_user_session_path, class:"fas fa-sign-in-alt"%></li>

          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>