<!DOCTYPE html>
<html>
  <head>
    <title>Global Japan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= search_form_for @q, url: search_path  do |f| %>

      <%= f.label :name_or_gender_cont %>
      <%= f.search_field :name_or_gender_cont %>
      <%= f.submit %>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>